.text-right {
    float: right;
}
div#carouselExampleControls a {
    cursor: pointer;
}
.right0 {
    right: 0;
    left: unset;
}
.carousel-item.west {
    height: 700px;
	position: relative;
}
.carousel-item.west:before {
    position: absolute;
    content: '';
    background: #00000094;
    width: 100%;
    height: 700px;
}
.carousel-caption {
    bottom: 25%;
}
input.btn {
    width: 100%;
}
.carousel-indicators.spons {
    bottom: -52px;
}
.carousel.slide.sponsor {
    overflow: unset;
}
.carousel-indicators.spons [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
	opacity: 1;
	background-color: #fff;
}
.carousel-indicators.spons .active {
    opacity: 1;
    background-color: #de302f;
}
.pagination-lg .page-link {
    padding: 0px 20px;
}
textarea.form-control {
    height: auto;
}
.width50-right {
    width: 570px;
    max-width: 560px;
	
}
#banner .owl-pagination {
    display: none;
}
.col-md-6.vc_col.section-padding {
    position: relative;
}

	


@media only screen and (max-width: 575px) {
html {
    overflow-x: hidden;
}
.width50-right {
    width: 100%;
    max-width: unset;
    padding: 0 10px !important;
}
.modal-dialog {
    margin: 0 auto;
}
.conference-start-box > p {
    padding: 0 10px;
}
div#countdown ul {
    padding: 0;
}
.red-overlay {
    height: 50%;
    width: 100%;
}
.newslette-iframe, .subscribe-newsletter {
    height: auto;
}
.carousel-item.west img {
    height: 250px;
}
.carousel-item.west {
    height: 250px;
}

}